{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1>Booking confirmation</h1>
    <div class="form-group">
        <label class="col-sm-5 control-label">Boat</label>
        <div class="col-sm-7">
            <p class="form-control-static">
                {{ order.boat is empty ? "" : order.boat.name }}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Date and time</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.date|date('l j M Y') }} {{ order.startFormatted }} - {{ order.endFormatted }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Location</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.location is empty ? "" : order.location.name }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Number of people</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.numberOfPeople }}</p>
        </div>
    </div>

    <h3>Your information</h3>
    <div class="form-group">
        <label class="col-sm-5 control-label">Name</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.customer.firstName }} {{ order.customer.lastName }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Email</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.customer.email }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Phone</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.customer.phoneNumber }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Language</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ order.customer.language }}</p>
        </div>
    </div>

    {% if not template is empty %}
        <h3>Information</h3>
        {{ template.content|raw }}
    {% endif %}
    <hr />
    <p>
    {% if order.customer.language == 'en' %}
        To unsubscribe from the newsletter, please click on the following link
    {% elseif order.customer.language == 'de' %}
        Um den Newsletter abzubestellen, klicken Sie bitte auf den folgenden Link
    {% elseif order.customer.language == 'es' %}
        Para darse de baja del boletín, haga clic en el siguiente enlace
    {% elseif order.customer.language == 'fr' %}
        Pour vous désinscrire de la newsletter, veuillez cliquer sur le lien suivant
    {% endif %}
        <a href="{{ url('app_email_unsubscribe', { 'email': order.customer.email }) }}">{{ url('app_email_unsubscribe', { 'email': order.customer.email }) }}</a>
    </p>
{% endblock %}