<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}Rodaboats - Admin Area{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ asset('vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block common_body %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('calendar') }}">RodaBoats</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="{{ path('logout_route') }}">
                                <i class="fa fa-sign-out fa-fw"></i> Logout
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    {{ knp_menu_render('AppBundle:Builder:sideMenuCommon', { 'allow_safe_labels': true, 'template': 'AppBundle:Menu:knp_menu.html.twig', 'currentClass': 'active' }) }}
                    {{ knp_menu_render('AppBundle:Builder:sideMenuBoat', { 'allow_safe_labels': true, 'template': 'AppBundle:Menu:knp_menu.html.twig', 'currentClass': 'active' }) }}
                    {{ knp_menu_render('AppBundle:Builder:sideMenuReport', { 'allow_safe_labels': true, 'template': 'AppBundle:Menu:knp_menu.html.twig', 'currentClass': 'active' }) }}
                    {{ knp_menu_render('AppBundle:Builder:sideMenuAdmin', { 'allow_safe_labels': true, 'template': 'AppBundle:Menu:knp_menu.html.twig', 'currentClass': 'active' }) }}
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {%
                    if app.session.flashBag.get('notice') | length > 0
                    or app.session.flashBag.get('warning') | length > 0
                    or app.session.flashBag.get('danger') | length > 0
                %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <div class="alert alert-success" role="alert">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {% for flash_message in app.session.flashBag.get('warning') %}
                                <div class="alert alert-warning" role="alert">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {% for flash_message in app.session.flashBag.get('danger') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% block body %}{% endblock %}
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% endblock %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- jQuery -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/momentjs/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('vendor/metisMenu/metisMenu.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/sb-admin-2.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>