{% extends 'base_sb.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .booking {
            position: relative;
            background-color: #a8c8d8;
            overflow: hidden;
            padding: 0 3px;
        }
        .booking p.time {
            text-align: center;
            border-bottom: 1px dotted white;
            font-size: 11px;
            font-weight: bold;
        }
        .booking .person-name {
            font-size: 13px;
        }
        .booking .people-count {
            font-size: 12px;
            font-weight: bolder;
            margin-left: 6px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <span class="header-nav pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Location
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{{ path('calendardate', { 'date': date|date('Y-m-d') }) }}">All locations</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% for location in locations %}
                                <li>
                                    <a href="{{ path('calendardate', { 'date': date|date('Y-m-d'), 'location': location.id }) }}">{{ location.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </span>
                <span class="header-nav pull-left">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon-calendar glyphicon"></span>&nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <div id="datetimepicker12"></div>
                            </li>
                        </ul>
                    </div>
                </span>
                {#<div class="form-group" style="float: left;">#}
                    {#<button id="datepicker" style="position:relative;" class="btn btn-default">#}
                        {#<span class="glyphicon-calendar glyphicon"></span>#}
                    {#</button>#}
                    {#<input type="hidden" id="datetimepicker1" />#}
                {#</div>#}
                {#<span class="glyphicon glyphicon-calendar" aria-hidden="true" id="datepicker"></span>#}
                <a href="{{ path('calendardate', { 'date': prev_date }) }}" class="title-nav">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a>
                <span>{{ date|date('l j M Y') }}</span>
                <a href="{{ path('calendardate', { 'date': next_date }) }}" class="title-nav">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table calendar">
                        <thead>
                        <tr>
                            <th class="col-xs-1 col-md-1">Time</th>
                            {% for boat in calendar.boats %}
                            <th>{{ boat.name }}<br/>
                                <small>{% if boat.location != null %}{{ boat.location.name }}{% endif %}</small>
                                <br/>
                                <a href="{{ path('addbookingspecific', { 'boat': boat.id, 'date': date|date('Y-m-d') }) }}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> book
                                </a>
                            </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for slot in calendar.slots %}
                            <tr>
                                {% if slot.minutes % 30 == 0 %}
                                    <td rowspan="2" style="vertical-align: top; padding: 0 0 0 5px; font-size: 12px;">
                                        {{ slot.format() }}
                                    </td>
                                {% endif %}
                                {% for boat in calendar.boats %}
                                    {% set booking = calendar.getBooking(boat, slot) %}
                                    {% if booking %}
                                        <td class="slot" rowspan="{{ booking.minutes / 15 }}" style="padding: 1px; overflow: hidden;">
                                            <div class="booking" {% if booking.comments %}data-toggle="tooltip" data-placement="top" title="{{ booking.comments }}" data-container="body" data-placement="auto"{% endif %}>
                                                <p class="time">
                                                    <a href="{{ path('viewbooking', { 'id': booking.id }) }}">
                                                        {{ booking.start|date('G:i') }} - {{ booking.end|date('G:i') }}&nbsp;({{ booking.hours }}h)
                                                    </a>
                                                    {% if booking.comments %}
                                                        <span class="pull-right">
                                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                        </span>
                                                    {% endif %}
                                                </p>
                                                <div class="person-name">
                                                    {{ booking.lesseeLastName }}, {{ booking.lesseeFirstName }}
                                                </div>
                                                <div class="people-count">{{ booking.numberOfPeople }} passengers</div>
                                            </div>
                                            {#<a href="{{ path('viewbooking', { 'id': booking.id }) }}">#}
                                                {#{{ booking.lesseeLastName }}<br />#}
                                                {#<small>{{ booking.start|date('G:i') }} - {{ booking.end|date('G:i') }}</small>#}
                                            {#</a>#}
                                        </td>
                                    {% elseif not calendar.busySlot(boat, slot) %}
                                        <td class="slot available" style="padding: 8px 0;" data-boat="{{ boat.id }}" data-minutes="{{ slot.minutes }}"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {#<div class="table-responsive" style="">#}
                    {#<table class="table calendar" style="width: 100%; max-width: none; white-space: nowrap;">#}
                        {#<thead>#}
                        {#<tr>#}
                            {#<th class="col-xs-1 col-md-1">Time</th>#}
                            {#{% for boat in calendar.boats %}#}
                                {#<th>{{ boat.name }}<br/>#}
                                    {#<small>{% if boat.location != null %}{{ boat.location.name }}{% endif %}</small>#}
                                    {#<br/>#}
                                    {#<a href="{{ path('addbookingspecific', { 'boat': boat.id, 'date': date|date('Y-m-d') }) }}">#}
                                        {#<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> book#}
                                    {#</a>#}
                                {#</th>#}
                            {#{% endfor %}#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for slot in calendar.slots %}#}
                            {#<tr>#}
                                {#<td>{{ slot.hour }}:{{ slot.minutes }}</td>#}
                                {#{% for boat in calendar.boats %}#}
                                    {#{% set booking = calendar.getBooking(boat, slot) %}#}
                                    {#{% if booking %}#}
                                        {#<td class="slot" rowspan="{{ booking.hours * 2 }}">#}
                                            {#<a class="calendar-item"#}
                                               {#href="{{ path('viewbooking', { 'id': booking.id }) }}">#}
                                                {#{{ booking.lesseeLastName }}#}
                                                {#<!--<br /><small>{{ booking.start|date('G:i') }} - {{ booking.end|date('G:i') }}</small>-->#}
                                                {#<br/>#}
                                                {#<small>{{ booking.hours }} hours</small>#}
                                            {#</a>#}
                                        {#</td>#}
                                    {#{% elseif not calendar.busySlot(boat, slot) %}#}
                                        {#<td class="slot available" data-boat="{{ boat.id }}"#}
                                            {#data-hour="{{ slot.hour }}"></td>#}
                                    {#{% endif %}#}
                                {#{% endfor %}#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table>#}
                {#</div>#}

            </div>
        </div>


    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('[data-toggle="tooltip"]').tooltip();
            jQuery('[data-toggle="popover"]').popover();
            jQuery('.booking').each(function(index, el) {
                var td = jQuery(el).closest('td.slot');
                var h = 0;
                var w = 0;
                if (td.length > 0) {
                    h = td[0].offsetHeight;
                    w = td[0].offsetWidth;
                }

                if (h > 0 && w > 0) {
                    // jQuery(el).css('width', w - 3);
                    jQuery(el).css('height', h - 3);
                    // jQuery(el).css('left', 1);
                    // jQuery(el).css('top', 1);
                }
            });

            jQuery('#datetimepicker1').datetimepicker({
                widgetParent: $('#datepicker'),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'auto'
                }
            }).on('dp.change', function (date, old_date) {
                // var date = e.date.getFullYear() + '-' + (e.date.getMonth() + 1) + '-' + e.date.getDate();
                // document.location = Routing.generate('calendardate', { date: date }, false);
                console.log(date);
            });

            jQuery('#datepicker').on('click', function() {
                jQuery('#datetimepicker1').data('DateTimePicker').toggle();
            });

            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });

        })
        $(function () {

            {#$('table.calendar td.available').on('click', function (e) {#}

                {#var cell = $(e.currentTarget);#}

                {#var url = '{{ path('addbooking') }}';#}
                {#url += '/' + cell.attr('data-boat') + '/{{ date|date('Y-m-d') }}?time=' + cell.attr('data-hour') + ':00';#}

                {#document.location = url;#}
            {#});#}
        });
    </script>

{% endblock %}


