{% extends 'base_sb.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="page-header">Boats</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Boat</th>
                    <th>Location</th>
                    <th>Registration</th>
                    <th>Tracker</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for boat in boats %}
                    <tr>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            {{ include('boat/status.html.twig', { 'boat': boat }) }}
                        </td>
                        <td>
                            <a href="{{ path('viewboat', { 'id': boat.id }) }}">
                                {{ boat.name }}<br/>
                                <small>{{ boat.hin }}</small>
                            </a>
                        </td>
                        <td>
                            {{ boat.location is empty ? "" : boat.location.name }}
                        </td>
                        <td>{{ boat.registration }}</td>
                        <td>{{ boat.trackerName }}<br/>
                            <small>{{ boat.trackerImei }}</small>
                        </td>
                        <td>
                            <a href="{{ path('viewboat', { 'id': boat.id }) }}">View</a> |
                            <a href="{{ path('editboat', { 'id': boat.id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}