<div class="form-group">
	<label class="col-sm-5 control-label">Engine oil check</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.engineOilCheck is empty ? "" : boat.engineOilCheck|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Shaft oil check</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.shaftOilCheck is empty ? "" : boat.shaftOilCheck|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Petrol filter change</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.petrolFilterChange is empty ? "" : boat.petrolFilterChange|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Battery check</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.batteryCheck is empty ? "" : boat.batteryCheck|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Spark change</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.sparkChange is empty ? "" : boat.sparkChange|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Impellor change</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.impellorChange is empty ? "" : boat.impellorChange|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Oil filter change</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.oilFilterChange is empty ? "" : boat.oilFilterChange|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Steering wheel grease</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.steeringWheelGrease is empty ? "" : boat.steeringWheelGrease|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Throttle / shifting grease</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.throttleShiftingGrease is empty ? "" : boat.throttleShiftingGrease|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Engine cleaning</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.engineCleaning is empty ? "" : boat.engineCleaning|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Propeller change</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.propellerChange is empty ? "" : boat.propellerChange|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Engine hours</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.engineHours is empty ? "" : boat.engineHours }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Engine hours last check</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.engineHoursCheck is empty ? "" : boat.engineHoursCheck|date('l j M Y') }}</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">Comments</label>
	<div class="col-sm-7">
		<p class="form-control-static">{{ boat.comments }}</p>
	</div>
</div>