{% extends 'base_sb.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .booking {
            position: relative;
            background-color: #f7ca77;
            overflow: hidden;
            padding: 0 3px;
            min-width: 170px;
            height: 100%;
            width: 100%;
            /*border: 1px solid #ff5500;*/
        }
        .booking div.booking-header {
            font-size: 12px;
            text-align: center;
            border-bottom: 1px dotted white;
            position: relative;
            clear: both;
            overflow: auto;
            padding: 1px;
            margin-bottom: 5px;
        }
        .booking div.booking-header .time {
            margin-left: 3px;
            font-weight: bold;
        }
        .booking .person-name {
            font-size: 13px;
            font-weight: bold;
            overflow: hidden;
        }
        .booking .peoples-count {
            font-size: 12px;
            text-decoration: underline;
        }
        .booking .person-phone {
            font-size: 12px;
            margin-top: 2px;
        }
        .calendar tr td {
            width: 170px;
        }
        table.calendar, table.calendar tr {
            height: 100%;
        }
        .tooltip .tooltip-inner {
            background-color: #f5e79e;
            color: #000;
            border: 1px solid #000;
            opacity: 0%;
        }
        .booking .extras-list {
            font-size: 12px;
            padding: 5px;
            border-top: 1px dotted white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-lg pull-left" type="button" style="margin-right: 20px;" id="dt-toggler">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <a href="{{ path('calendardate', { 'date': prev_date }) }}" class="btn btn-default btn-lg pull-left" role="button">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <input
                                class="input-lg pull-left"
                                style="border-radius: 0; border: none; text-align: center; font-weight: bold;"
                                id="datetimepicker44"
                        />
                        <a href="{{ path('calendardate', { 'date': next_date }) }}" class="btn btn-default btn-lg pull-left" role="button">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="header-nav">
                            <a href="{{ printLink }}" target="_blank" class="btn btn-default" {% if location is null %}disabled="disabled"{% endif %}>
                                <i class="fa fa-print"></i> Print
                            </a>
                        </span>
                        <span class="header-nav pull-right">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Location
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="{{ path('calendardate', { 'date': date|date('Y-m-d') }) }}">All locations</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    {% for location in locations %}
                                        <li>
                                            <a href="{{ path('calendardate', { 'date': date|date('Y-m-d'), 'location': location.id }) }}">{{ location.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table calendar">
                        <thead>
                        <tr>
                            <th style="width: 60px;">Time</th>
                            {% for boat in calendar.boats %}
                                <th style="width: 170px;">{{ boat.name }}<br/>
                                    <small>{% if boat.location != null %}{{ boat.location.name }}{% endif %}</small>
                                    <br/>
                                    <a href="{{ path('app_order_add', { 'boat': boat.id, 'date': date|date('Y-m-d') }) }}">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> book
                                    </a>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for slot in calendar.slots %}
                            <tr>
                                {% if slot.minutes % 30 == 0 %}
                                    <td rowspan="2" style="vertical-align: top; padding: 0 0 0 5px; font-size: 12px;">
                                        {{ slot.format() }}
                                    </td>
                                {% endif %}
                                {% for boat in calendar.boats %}
                                    {% set order = calendar.getOrder(boat, slot) %}
                                    {% if order %}
                                        {% set extras = order.extrasAbbrText %}
                                        <td class="slot" rowspan="{{ order.minutes / 15 }}" style="padding: 1px; overflow: hidden;">
                                            <div class="booking">
                                                <div class="booking-header">
                                                    <div class="time pull-left">
                                                        <a href="{{ path('app_order_edit', { 'id': order.id }) }}">
                                                            {{ order.start|date('G:i') }} - {{ order.end|date('G:i') }}&nbsp;({{ order.hours }}h)
                                                        </a>
                                                    </div>
                                                    {% if order.comments %}
                                                        <div
                                                                class="pull-right"
                                                                data-toggle="tooltip"
                                                                data-placement="top"
                                                                title="{{ order.comments|nl2br }}"
                                                                data-container="body"
                                                                data-html="true"
                                                                style="cursor: pointer;"
                                                        >
                                                            <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="clearfix">
                                                    <div class="person-name pull-left">
                                                        {{ order.customer.firstName }}&nbsp;{{ order.customer.lastName }}
                                                    </div>
                                                    <div class="peoples-count pull-right" style="max-width: 50px;">
                                                        {{ order.numberOfPeople }}&nbsp;ppl
                                                    </div>
                                                </div>
                                                <div class="person-phone" style="margin-left: 5px;">
                                                    <i class="fa fa-phone"></i>&nbsp; {{ order.customer.phoneNumber }}
                                                    {% if order.hours == 1 %}
                                                        :
                                                        <a
                                                                role="button"
                                                                data-toggle="tooltip"
                                                                data-container="body"
                                                                data-html="true" title="{{ extras }}"
                                                        >
                                                            extras
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                {% if order.hours > 1 %}
                                                    <div class="extras-list">Extras: {{ extras }}</div>
                                                {% endif %}
                                            </div>
                                        </td>
                                    {% elseif not calendar.busySlot(boat, slot) %}
                                        <td class="slot available" style="padding: 8px 0;" data-boat="{{ boat.id }}" data-minutes="{{ slot.minutes }}"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
            // $('.booking').each(function(index, el) {
            //     var td = $(el).closest('td.slot');
            //     var h = 0;
            //     var w = 0;
            //     if (td.length > 0) {
            //         h = td[0].offsetHeight;
            //         w = td[0].offsetWidth;
            //     }
            //
            //     if (h > 0 && w > 0) {
            //         $(el).css('height', h - 3);
            //     }
            // });

            $('#datetimepicker44').datetimepicker({
                ignoreReadonly: true,
                showClose: true,
                format: 'dddd, MMM DD YYYY',
                viewDate: "{{ date|date('Y-m-d') }}",
                defaultDate: "{{ date|date('Y-m-d') }}"
            }).on('dp.change', function(e) {
                document.location = Routing.generate('calendardate', { date: e.date.format('YYYY-MM-DD') }, false);
            });
            $('#dt-toggler').on('click', function(e) {
                $('#datetimepicker44').datetimepicker().data('DateTimePicker').toggle();
            });

            $('table.calendar td.available').on('click', function (e) {
                var cell = $(e.currentTarget);
                var boat = cell.data('boat');
                var start = cell.data('minutes');
                var date = '{{ date | date('d-m-Y') }}';
                var url = Routing.generate('app_order_add', {
                    boat: boat,
                    date: date,
                    start: start
                });
                window.location = url;
            });
        });
    </script>

{% endblock %}