{% extends 'base_sb.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Report <small>Boat Pax Declaration</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-lg">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% if orders | length > 0 %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Report output &mdash; {{ boat.name }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="text-center" style="font-size: 18px;">
                    <strong><span class="text-uppercase">declaraci贸 per a la remissi贸 de l'informaci贸 referent al moviment de passatgers de</span></strong>
                    <br />
                    <strong><span class="text-uppercase">l'embarcasi贸 de llista</span>&nbsp;6a&nbsp;<span class="text-uppercase">al port</span></strong>
                    &nbsp;
                    <u><i>{{ boat.location.name }}</i></u>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 table-responsive">
                <table class="table table-bordered table-condensed">
                    <tbody>
                    <tr>
                        <td class="col-md-3 text-uppercase">any</td>
                        <td class="col-md-3"><em>{{ startDate | date('Y') }}</em></td>
                        <td class="col-md-3 text-uppercase">port base</td>
                        <td class="col-md-3"><em>{{ boat.location.name }}</em></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 table-responsive">
                <table class="table table-bordered table-condensed">
                    <tbody>
                    <tr>
                        <td class="col-md-6 text-uppercase">itinerary</td>
                        <td class="col-md-6">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-10 col-lg-offset-1 table-responsive">
                <table class="table table-bordered table-condensed">
                    <tbody>
                    <tr>
                        <td class="col-md-5 text-uppercase">nom i matricula del vaixell</td>
                        <td class="col-md-7">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 table-responsive">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <td class="col-md-4 text-uppercase">dia</td>
                    <td class="col-md-2 text-uppercase">hora entrada</td>
                    <td class="col-md-2 text-uppercase">desembarcats</td>
                    <td class="col-md-2 text-uppercase">hora salida</td>
                    <td class="col-md-2 text-uppercase">embarcats</td>
                </tr>
                {% for order in orders %}
                <tr>
                    <td class="text-right">{{ order.date | date('d-m-Y') }}</td>
                    <td class="text-right">{{ order.start | date('G:i') }}</td>
                    <td class="text-right">{{ order.numberOfPeople }}</td>
                    <td class="text-right">{{ order.end | date('G:i') }}</td>
                    <td class="text-right">{{ order.numberOfPeople }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}